---
---

@import "";
body
{
    background-color: black;
    color: white;
}

mark
{
    /* The background color overrides the color of the whole page */
    background-color: red;
    color: black;
}
